 /* Remove page border and margin */
 *{
  margin: 0;
  padding: 0;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #DCFFCC;
  position: fixed;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #5F7161;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  width:100px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #445C3C;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #BCE29E;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #FFF6BD;
  width: inherit;
  box-shadow: 0px 8px 16px 0px #FFFBC1;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Make image in centre of page */
.avatar { 
  width: auto;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 10vh;
}

/* Make image circular */
.avatar img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: px;
}

.intro-text{
text-align: center;
font-family: 'Baskerville', 'sans-serif';
font-size: 50px;
font-weight: bolder;
font-style: italic;
}
